@use 'variables' as *;

.mf-section-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;

  &__en {
    display: block;
    font-family: $font-en;
    font-size: 56px;
    color: $color-dark;
    letter-spacing: 4.48px;
    line-height: 1;
    margin: 0 24px 0 0;
  }

  &__line {
    display: block;
    width: 340px;
    height: 1px;
    background-color: $color-dark;
    flex-shrink: 0;
  }

  &__jp {
    display: block;
    width: 100%;
    font-family: $font-jp;
    font-size: 16px;
    font-style: normal;
    color: $color-dark;
    letter-spacing: 1.6px;
    margin: 16px 0 0;
  }

  &--center {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .mf-section-title__en {
      margin-right: 0;
    }

    .mf-section-title__line {
      display: none;
    }

    .mf-section-title__jp {
      width: auto;
    }
  }

  @include sp {
    &__line {
      display: none;
    }

    &__en {
      margin-right: 0;
      font-size: 28px;
      letter-spacing: 1.4px;
    }

    &__jp {
      font-size: 14px;
    }
  }
}
