$color-primary: #159741;
$color-dark: #2f2f2f;
$color-light: #f2f2f2;
$color-text: #333;
$color-white: #fff;
$color-placeholder: #bdbdbd;
$color-border: #333;

$font-display: 'Josefin Sans', sans-serif;
$font-jp: 'Noto Sans JP', sans-serif;
$font-handwriting: 'Satisfy', cursive;

$bp-sp: 767px;
$bp-pc: 768px;
